@media (max-width: 800px) {
    Header:after {
        transform-origin: top right;
        transform: skewY(18deg);
    }

    nav {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .btnNav {
        margin: 0;
    }

    .headerText h2 {
        margin-bottom: 0;
    }
    
    .headerText h1 {
        margin-bottom: 10px;
    }
    
    .headerText p {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .abstract {
        width: 90%;
    }

    .iconCollapseAbstract {
        display: inline-block;
    }

    .form-section {
        width: 90%;
    }

    .products-cards {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .products-container, .share-container {
        padding: 0;
    }

    .inputs-container {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .inputs-container {
        width: 95%;
    }

    .name-input, .email-input {
        margin: 0;
    }

    .name-input input, .email-input input {
        width: 100%;
        margin-bottom: 18px;
    }

    .share-form .btnEnviar{
        margin-top: 12px;
    }

    footer {
        height: 100px;
        padding-bottom: 30px;
    }

    footer:after {
        transform-origin: bottom left;
        transform: skewY(-6deg);
    }
}

@media (max-width: 450px) {
    .headerContent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .headerText {
        display: inline-block;
    }

    .headerText p,  .headerText h1, .headerText h2 {
        text-align: left;
    }

    .products-cards {
        grid-template-columns: 1fr;
    }

    .product-card {
        flex-direction: row;
        align-items: center;
    }
    
    .product-card img {
        width: 75%;
    }

    .card-info {
        width: 100%;
        padding-left: 20px;
    }

    .card-info p {
        display: none;
        margin: 0;
    }
}

@media (max-width: 360px) {
    header {
        height: 600px;
    }

    nav {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 850px) {
    .text-invisible {
        display: block;
    }
}